% {erl_first_files, []}.
% {erl_opts,[fail_on_warning]}.
% {erlydtl_opts, []}.
% {cover_enabled, true}.
% {target, "rel"}.
% {app_bin, []}.
% {deps_dir, ["deps"]}.
% {deps, [
  
% ]}.
% {sub_dirs,
%  ["apps/erlang_port_example",
%   "rel"
%  ]}.
% {edoc_opts, [{doclet, edown_doclet}]}.
% {sub_dirs, []}.
% {eunit_opts, [verbose]}.
% {eunit_compile_opts, [{i, "../"}]}.

% {port_sources, ["c_src/*.c"]}.
% {port_env, [
%     {"CFLAGS", "$CFLAGS -v"},
%     {".*", "LDFLAGS", "$LDFLAGS"} % for now any OS, we can introduce OS checking later on
% ]}.

{plugins, [pc]}.
{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.